body {
    font-family: Arial;
    background:#e3f2fd;
}

.container {
    max-width:600px;
    margin:auto;
    padding:20px;
}

.card {
    background:white;
    padding:20px;
    border-radius:12px;
    margin-top:30px;
}

input,textarea,select {
    width:100%;
    padding:10px;
    margin-top:10px;
}

button {
    background:#1565c0;
    color:white;
    padding:10px;
    border:none;
    width:100%;
    margin-top:15px;
}
