{% extends "base.html" %}

{% block title %}Login - Healthcare Hub{% endblock %}

{% block content %}
<div class="card">
    <h2>Welcome Back</h2>
    <form method="POST">
        <div class="form-group">
            <label for="u_login">Username</label>
            <input type="text" id="u_login" name="u_login" class="form-control" required autocomplete="new-password">
        </div>
        <div class="form-group">
            <label for="p_login">Password</label>
            <input type="password" id="p_login" name="p_login" class="form-control" required
                autocomplete="new-password">
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <p style="text-align: center; margin-top: 1.5rem; font-size: 0.9rem;">
        Don't have an account? <a href="{{ url_for('register') }}"
            style="color: var(--secondary-color); font-weight: 600; text-decoration: none;">Register here</a>
    </p>
</div>
{% endblock %}